doctype html
html 
    head 
        title= `Homepage`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Games
        a(href='/update-cobj') Add to this table
        table.table
            thead
                tr
                    th Name
                    th Genre
                    th Main Character
            tbody
                each game in data
                    tr
                        td #{game.properties.game_name}
                        td #{game.properties.genre}
                        td #{game.properties.main_character}
