doctype html
html(lang="en")
    head
        title Add Game
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            form(method="POST")
                label(for="gameName") Game Name
                input(type="text" name="gameName" required)
                label(for="mainChar") Main Character
                input(type="text" name="mainChar" required)
                select(name="genre")
                    each genre in genres
                        option(value=genre.genre)= genre.genre
                input(type="submit" value="Confirm")